<header class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="./assets/img/logo2 white.png" width="200">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title">
                    UserCorp
                </h1>
            </div>
        </div>
    </div>
</header>
<main class="container">
    <app-user-form [create]="true"></app-user-form>
</main>